/* ViewContracts.css */

.view-contracts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contract-card {
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
}

.contract-status {
  padding: 5px 10px;
  border-radius: 4px;
  color: rgb(191, 18, 18);
  font-weight: bold;
  display: inline-block; /* To make the status labels inline */
}

.status-waiting {
  background-color: #f0ad4e; /* Bootstrap's 'warning' color */
}

.status-accepted {
  background-color: #5cb85c; /* Bootstrap's 'success' color */
}

.status-rejected {
  background-color: #d9534f; /* Bootstrap's 'danger' color */
}

/* Additional styles for other statuses can be added here */
